$main-font: ProximaNovaExtraBold, Verdana, sans-serif;
$main-color: #20aa97;
$description-color: #585858;
$main-font-size: 18px;

*{
	margin: 0;
	padding: 0;
	font-size: $main-font-size;
	font-family: $main-font;
}
body{
	width: 100%;
	max-width: 1920px;
	min-width: 320px;
	position: relative;
	margin-top: 108px;
	text-align: center;
}
.circle{
	position: absolute;
	top: -132px;
	right: -112px;
	z-index: 4;
}
.wrapper{
	max-width: 1700px;
	margin: 0 auto;
}
.header{
	width: 100%;
	max-width: 1700px;
	height: 108px;
	position: fixed;
	top: 0;
	background: linear-gradient(180deg, #fff 70%, rgba(255,255,255, 0) 100%);
	z-index: 3;
	&__container{
		display: flex;
		justify-content: space-between;
		padding: 0 75px;
		height: 100%;
	}
}
.logo{
	display: flex;
	align-items: center;
	text-decoration: none;
	&__img{
		width: 56px;
	}
	&__text{
		margin-left: 15px;
		line-height: 22px;
		font-size: 20px;
		color: #000;
	}
}
.menu{
	display: flex;
	align-items: center;
	&__item{
		margin-left: 54px;
		padding-top: 16px; 
		transition: all .3s;
		position: relative;
		list-style-type: none;
		font-size: 16px;
		z-index: 999;
		&--active,
		&:hover{
			color: $main-color;
			&:before{
				background: red;
				content: '';
				width: 15px;
				height: 2px;
				position: absolute;
				top: 0px;
				background: #000;
			}
		}
		&:hover{
			cursor: pointer;
			color: $main-color;
		}
	}
}
.section{
	&__title{
		position: relative;
		padding: 120px 0;
		text-align: center;
		font-size: 100px;
		&--colorful{
			position: absolute;
			font-size: 1em;
			color: $main-color;
		}
	}
	&__description{
		margin: 0 387px;
		font-size: 1.1em;
		line-height: 36px;
		color: $description-color;
	}
}
.container{
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
	&__box{
		width: 16%;
		margin: 130px 25px 0;
	}
}
.services-container{
	padding:  0 110px;
}
.box-service{
	&__img{
		width: 100px;
		height: 80px;
		margin: 0 auto 50px auto;
		background-image: url("../img/sprite-services.svg");
		background-position: 10px 0;
	}
	&__slim-text{
		color: $description-color;
		font-family: ProximaNovaSemiBold;
	}
	.service-2{
		background-position: -165px 0;
	}
	.service-3{
		background-position: -260px 0;
	}
	.service-4{
		background-position: -350px 0;
	}
	.service-5{
		background-position: -450px 0;
	}
	.service-6{
		background-position: -550px 0;
	}
	.service-7{
		background-position: -640px 0;
	}
	.service-8{
		background-position: -725px 0;
	}
	.service-9{
		background-position: -828px 0;
	}
	.service-10{
		background-position: -75px 0;
	}
}

.offer-title{
	padding: 150px 0 40px 0;
	font-size: 60px;
	line-height: 28px;
}
.offen-container{
	width: 1200px;
	margin: 0 auto;
	justify-content: flex-start;
	
}
.box-our-offer{
	width: 45%;
	text-align: left;
	padding: 60px 60px 0 0;
	&:nth-child(2n){
		padding: 60px 0 0 60px;
	}
	&__title{
		line-height: 28px;
		font-size: 20px;
	}
	&__text{
		color: $description-color;
		line-height: 28px;
	}
	&__img{
		width: 107px;
		height: 107px;
		border-radius: 50%;
		background-color: #d3f3f3;
		margin-bottom: 45px;
		background: url("../img/sprite_offer.svg") no-repeat, #fbfdfd;
		background-position: 20px 20px;
	}
	.offer-2{
		background-position: -80px 20px;
	}
	.offer-3{
		background-position: -192px 25px;
	}
	.offer-4{
		background-position: -305px 25px;
	}
	.offer-5{
		background-position: -410px 20px;
	}
	.offer-6{
		background-position: -507px 20px;
	}
	.offer-7{
		background-position: -610px 20px;
	}
}
.footer{
	height: 120px;
	margin-top: 135px;
	background: #000;
	color: #fff;
	&__text{
		padding-top: 60px;
		font-size: 0.8em;
		line-height: 22px;
		&--colorful{
			text-decoration: none;
			color: $main-color;
			&:hover{
				text-decoration: underline;
			}
		}
	}
}
