
//Preloader
@keyframes preloader-text{
	0%{
		transform: scale(1.5);
		opacity:1;
	}
 100%{
 	transform: scale(0);
 	opacity: 0;
 }
}
 @keyframes preloader-img{
	0%{
		transform: scale(1, 1);
		opacity: 1;
	}
 50%{
 	transform: scale(0.4, 0.4);
 	opacity: 0;
 }
 80%{
 	opacity:1;
 }
  100%{
 	transform: scale(1, 1);
 }
}

//Enter to page
 @keyframes section-text{
	0%{
		opacity: 0;
		transform: scale(0.1);
	}
	80%{
		transform: scale(1.2);
 	}
 	87%{
		transform: scale(0.8);
 	}
	90%{
		transform: scale(1.1);
 	}
 	93%{
		transform: scale(0.9);
 	}
	97%{
		transform: scale(1.1);
 	}
  	100%{
 		opacity: 1;
		transform: scale(1);
 	}
}

//Scroll page
 @keyframes section-box{
	0%{
		right: -3000px;
	}
	80%{
		right: 200px;
 	}
 	87%{
		right: -200px;
 	}
 	93%{
		right: 100px;
 	}
	97%{
		right: -100px;
 	}
  	100%{
 		right: 1px;
 	}
}