$main-font: ProximaNovaExtraBold, Verdana, sans-serif;
$main-color: #20aa97;
$description-color: #585858;
$main-font-size: 18px;

*{
	margin: 0;
	padding: 0;
	font-size: $main-font-size;
	font-family: $main-font;
}
body{
	width: 100%;
	max-width: 1920px;
	min-width: 320px;
	position: relative;
	text-align: center;
	box-sizing: border-box;
	margin-top: 108px;
	overflow-x:hidden;
}
.container-lines{
	width: 100%;
	height: 100%;
	margin: 0 auto;
	position: absolute;
	top: 0;
	left: 0;
	border-top: 1px dashed #e8e8e8;
	z-index: -1;
	span{
		width: 1px;
		height: 100%;
		position:fixed;
		top: 0;
		border-left: 1px dashed #e8e8e8;
	}
	.line-1{
		left: 109px;
	}
	.line-2{
		left: 28%;
	}
	.line-3{
		left: 50%;
	}
	.line-4{
		right: 28%;
	}
}
.wrapper{
	max-width: 1700px;
	margin: 0 auto;
	margin-top: 108px;
	overflow: hidden;
}
.circle{

	//Стили для блока

	// width: 400px;
	// height: 400px;
	// background: $main-color;
	// border-radius: 50%;
	// position: fixed;
	// right: -106px;
 //    top: -155px;
	// z-index: -3;
	// opacity: .3;
	position: absolute;
	top: -147px;
	right: -130px;
	z-index: 5;
}
.header{
	width: 100%;
	max-width: 1700px;
	height: 108px;
	position: fixed;
	top: 0;
	background: linear-gradient(to bottom, #fff 65%, rgba(255,255,255, 0) 100%);
	// box-shadow: 0px 20px 16px 1px rgba(255,255,255,1);
	z-index: 2;
	&__container{
		display: flex;
		justify-content: space-between;
		padding: 0 70px;
		height: 100%;
	}
}
.logo{
	display: flex;
	align-items: center;
	text-decoration: none;
	&__img{
		width: 56px;
		margin: 5px 0 0 12px;
	}
	&__text{
		margin: 7px 0 0 13px;
		line-height: 22px;
		font-size: 20px;
		text-align: left;
		color: #000;
	}
}
.menu-desktop{
	display: flex;
	align-items: center;
	position: relative;
	&__item{
		margin-left: 55px;
		padding-top: 13px; 
		transition: all .3s;
		position: relative;
		list-style-type: none;
		font-size: 16px;
		letter-spacing: 0.1px;
		z-index: 999;
		&--active,
		&:hover{
			color: $main-color;
			cursor: pointer;
			&:before{
				content: '';
				width: 15px;
				height: 2px;
				position: absolute;
				top: 0px;
				background: #000;
			}
		}
	}
}
.section{
	&__title{
		position: relative;
		padding: 113px 5px 90px 0;
		text-align: center;
		font-size: 100px;
		&--colorful{
			position: absolute;
			font-size: 1em;
			color: $main-color;
		}
	}
	&__description{
		margin:0 370px 16px 385px;
		font-size: 1.1em;
		line-height: 36px;
		letter-spacing: 0.1px;
		color: $description-color;
	}
}
.menu-mobile{
	display: none;
	.menu-mobile__label{
		display: block;
		width: 40px;
		height: 40px;
		margin-top: 15px;
		cursor: pointer;
		position: relative;
		span{
			width: 20px;
			height: 2px;
			position: absolute;
			top: 25%;
			left: 10px;
			background: #000;
			&:nth-child(1){
				top: 30%;
			}
			&:nth-child(2){
				top: 50%;
				width: 16px;
			}
			&:nth-child(3){
				top: 70%;
			}
		}
	}
	.menu-mobile__checkbox{
		display: none;
		&:checked{
			+ .menu-mobile__label span{
				&:nth-child(2){
					display: none;
				}
				&:nth-child(1),
				&:nth-child(3){
					top: 50%;
					width: 25px;
				}
				&:nth-child(1){
					transform: rotate(45deg);
				}
				&:nth-child(3){
					transform: rotate(-45deg);
				}
			}
			~ .nav-mobile{
				display: block;
			}
		}
	}
	.nav-mobile{
		position: fixed;
		top: 100px;
		left: 0;
		width: 100%;
		height: 100%;
		padding: 20px;
		background: #fff;
		&__item{
			display: block;
			width: 100%;
			padding: 20px;
			text-align: left;
			text-decoration: none;
			font-size: 2.5em;
			color: #000;
			transition: all .2s;
			&:hover{
				text-decoration: underline;
			}
		}
	}
}
.header .menu__item--active{
	color: $main-color;
}


.container{
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
	&__box{
		width: 15%;
		margin: 95px 21px 0 50px;
	}
}
.services-container{
	padding:  0 35px;
}
.box-service{
	&__img{
		width: 110px;
		height: 80px;
		margin: 0 auto 50px auto;
		background-image: url("../img/sprite_services.svg");
		background-position: -7px -20px;
	}
	&__text{
		width: 235px;
		letter-spacing: 1px;
		line-height: 23px;
	}
	&__slim-text{
		color: $description-color;
		font-family: ProximaNovaSemiBold;
	}
	.service-2{
		background-position: -267px -19px;
	}
	.service-3{
		background-position: -398px -19px;
	}
	.service-4{
		background-position: -528px -19px;
	}
	.service-5{
		background-position: -669px -19px;
	}
	.service-6{
		background-position: -816px -23px;
	}
	.service-7{
		background-position: -947px -23px;
	}
	.service-8{
		background-position: -1066px -23px;
	}
	.service-9{
		background-position: -1208px -19px;
	}
	.service-10{
		background-position: -133px -23px;
	}
}

.offer-title{
	padding: 100px 0 34px 5px;
	font-size: 60px;
	line-height: 28px;
}
.offer-container{
	width: 1200px;
	margin: 0 auto;
	justify-content: flex-start;
	
}
.box-our-offer{
	width: 45%;
	text-align: left;
	padding: 60px 60px 0 0;
	&:nth-child(2n){
		padding: 60px 0 0 60px;
	}
	&__title{
		line-height: 28px;
		font-size: 20px;
		margin: 46px 0 0 14px;
	}
	&__text{
		color: $description-color;
		line-height: 24px;
		margin: 2px 0 0 14px;



	}
	&__img{
		width: 107px;
		height: 107px;
		border-radius: 50%;
		background-color: #d3f3f3;
		margin-bottom: 36px;
		margin-left: 15px;
		background: url("../img/sprite_offer.svg") no-repeat, #fbfdfd;
		background-position: 0 9px;
		background-size: 750px;
	}
	.offer-2{
		background-position: -110px 12px;
	}
	.offer-3{
		background-position: -219px 16px;
	}
	.offer-4{
		background-position: -331px 14px;
	}
	.offer-5{
		background-position: -434px 11px;
	}
	.offer-6{
		background-position: -536px 9px;
	}
	.offer-7{
		background-position: -640px 3px;
	}
}
.footer{
	height: 120px;
	margin-top: 105px;
	background: #000;
	color: #fff;
	&__text{
		padding-top: 50px;
		font-size: 14px;
		line-height: 22px;
		margin-left: 25px;
		&--colorful{
			text-decoration: none;
			color: $main-color;
			&:hover{
				text-decoration: underline;
			}
		}
	}
}
